$app: '.cs-';
$breakpoint-sm: 576px; // Mobile
$breakpoint-md: 768px; // Tablet
$breakpoint-lg: 992px; // Laptop
$breakpoint-xl: 1200px; // Desktop
$breakpoint-xxl: 1400px; // Large Desktop

*, *:before, *:after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cs-base-f-size: 1.6rem;
  --cs-base-f-family: "Plus Jakarta Sans", sans-serif;
  --cs-color-green: #00F2A1;
  --cs-color-black: #000;
  --cs-color-blue: #194AB8;
  --cs-color-orange: #FFA860;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: var(--cs-base-f-family);
  font-size: var(--cs-base-f-size);
  color: var(--cs-color-black);
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
svg {
  shape-rendering: geometricPrecision;
}
.t-center {
  text-align: center !important;
}

#{$app} {
  &page {
    position: relative;
    overflow: hidden;
  }
  // Page: End
  &stripes {
    --cs-stripes-height: 2.4rem;

    width: 100%;
    height: var(--cs-stripes-height);

    border-width: 1px 0;
    border-style: solid;
    border-color: #dfdfdf;
    background-image: linear-gradient(90deg, #dfdfdf 4.55%, transparent 4.55%, transparent 50%, #dfdfdf 50%, #dfdfdf 54.55%, transparent 54.55%, transparent 100%);
    background-size: 22.00px 22.00px;
    background-position: center;
  }
  // Stripes: End

  &fixed-message {
    position: fixed;
    bottom: 1.5rem;
    width: 100%;
    left: 0;
    font-weight: 500;
    font-size: 1rem;
    /* identical to box height, or 16px */
    text-align: center;
    color: #A0A0A0;
    z-index: 10;
  }

  &header {
    --cs-header-container-width: 94%;
    
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 500;

    #{$app} {
      &stripes {
        border-width: 0;
      }
    }

    &__ {
      &container {
        width: var(--cs-header-container-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: .8rem;

        @media (min-width: $breakpoint-md) {
          justify-content: flex-end;
        }
      }

      &nav {
        display: flex;
        align-items: center;
        gap: 4.8rem;
      }

      &link {
        text-decoration: none;
        text-transform: uppercase;
      }

      &brand {
        max-width: 12.4rem;
      }
    }
  }
  // Header: End

  &main {
    position: relative;
    min-height: 400vh;

    &__backdrop {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200vh;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.2);
        // backdrop-filter: blur(2rem);
        // -webkit-backdrop-filter: blur(2rem);
        z-index: 5;
      }
    }
  }
  // Main: End

  // Hand Icon
  &hand-icon {
    position: fixed;
    width: 2.4rem;
    bottom: 1rem;
    right: 2.8rem;
    z-index: 20;

    &hand-icon {
      cursor: pointer;
      z-index: 999;
      animation: floatHand 2s ease-in-out infinite;
      transition: transform 0.3s ease;
    }

    &hand-icon.down {
      transform: rotate(0deg);
    }

    &hand-icon.up {
      transform: rotate(180deg);
    }

    @keyframes floatHand {
      0% { translate: 0 0; }
      50% { translate: 0 -12px; }
      100% { translate: 0 0; }
    }
  }
  // Hand Icon: ENd


  &gradmotion {
    position: absolute;
    top: 65vh;
    left: 0;
    width: 100%;
    height: 100%;

    &__ {
      &svg {
        display: block;
        margin: 0 auto;
      }
      &track {

      }
      &circle {
        --cs-gradcircle-top: 0;
        --cs-gradcircle-left: 0;
        --cs-gradcircle-size: 59.8rem;
        --cs-gradcircle-grad-bg: radial-gradient(50% 50% at 50% 50%, #BEFFC1 0%, rgba(57, 229, 255, 0) 87.02%, rgba(255, 255, 255, 0.5) 89.9%);

        position: absolute;
        width: var(--cs-gradcircle-size);
        height: var(--cs-gradcircle-size);
        top: var(--cs-gradcircle-top);
        left: (--cs-gradcircle-left);
        background: var(--cs-gradcircle-grad-bg);
        border-radius: 50%;
      }
    }
  }
  // Not Used: End
  

  &title {
    --cs-title-f-size: 3.6rem;
    --cs-title-f-weight: 400;
    --cs-title-line-height: 150%;

    --cs-title-hlight-f-size: 4.8rem;
    --cs-title-hlight-f-weight: 400;
    --cs-title-hlight-line-height: 124%;

    --cs-title-sub-f-size: 2.4rem;
    --cs-title-sub-f-weight: 400;
    --cs-title-sub-line-height: 132%;

    font-size: var(--cs-title-f-size);
    font-weight: var(--cs-title-f-weight);
    line-height: var(--cs-title-line-height);
    margin-bottom: 1.6rem;

    @media (min-width: $breakpoint-md) {
      --cs-title-hlight-f-size: 6.4rem;
    }

    &__ {
      &highlight {
        display: block;
        font-size: var(--cs-title-hlight-f-size);
        font-weight: var(--cs-title-hlight-f-weight);
        line-height: var(--cs-title-hlight-line-height);

        background-color: var(--cs-color-green); /* fallback */
        background-image: -webkit-linear-gradient(272.41deg, var(--cs-color-blue) -19.32%, var(--cs-color-green) 123.66%);
        background-image: linear-gradient(272.41deg, var(--cs-color-blue) -19.32%, var(--cs-color-green) 123.66%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        background-clip: text;
        // text-fill-color: transparent;
        color: transparent;
        margin-bottom: .8rem;
      }

      &sub {
        display: block;
        font-size: var(--cs-title-sub-f-size);
        font-weight: var(--cs-title-sub-f-weight);
        line-height: var(--cs-title-sub-line-height);
      }
    }

  }
  // Title: End

  &sub-title {
    --cs-sub-title-f-size: 2.4rem;
    --cs-sub-title-f-weight: 800;
    --cs-sub-title-line-height: 150%;
    font-size: var(--cs-sub-title-f-size);
    font-weight: var(--cs-sub-title-f-weight);
    line-height: var(--cs-sub-title-line-height);
    color: var(--cs-color-blue);
    text-align: center;
    text-transform: uppercase;
  }
  // Sub Title: ENd

  &description {
    --cs-desc-f-size: 1.8rem;
    --cs-desc-line-height: 150%;

    font-size: var(--cs-desc-f-size);
    line-height: var(--cs-desc-line-height);
    margin-bottom: 3.6rem;
  }
  // Description: end

  &hlt-title {
    --cs-hlt-title-align: flex-start;
    --cs-hlt-title-sub-line-bg: var(--cs-color-green);
    --cs-hlt-title-sub-line-order: 1;
    --cs-hlt-title-text-f-size: 2.4rem;
    --cs-htl-title-text-line-height: 150%;

    
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: var(--cs-hlt-title-align);
    margin-bottom: 14.6rem;


    &__ {
      &text {
        font-weight: 600;
        font-size: var(--cs-hlt-title-text-f-size);
        line-height: var(--cs-htl-title-text-line-height);
        text-transform: uppercase;
        color: var(--cs-color-blue);
        margin-bottom: 1.4rem;
      }
      &sub {
        display: flex;
        gap: 1.2rem;
        align-items: center;

        &-text {
          line-height: 20px;
          color: var(--cs-color-blue);
        }

        &-line {
          width: 5rem;
          height: 0.8rem;
          order: var(--cs-hlt-title-sub-line-order);
          background: var(--cs-hlt-title-sub-line-bg);
          border-radius: 8px;
        }
      }
    }
    &-- {
      &align-right {
        // --cs-hlt-title-align: flex-end;
        --cs-hlt-title-sub-line-order: -1;
      }
    }
  }

  &titlesvg {
    margin-bottom: 2.4rem;
  }

  &line {
    width: 9.6rem;
    height: 1px;
    margin-block: 3rem 2rem;
    background: #595959;
  }

  &liner {
    --cs-liner-width: 60rem;
    width: 100%;
    height: auto;
    max-width: var(--cs-liner-width);

    &__line {
      // fill: linear-gradient(90deg, #00ffa2, #00d4ff);
      // filter: drop-shadow(0 0 6px #00ffa2);
      transition: filter 0.3s ease;

      &:hover {
        // filter: drop-shadow(0 0 10px #00ffa2) drop-shadow(0 0 30px #00d4ff);
        filter: url(#glow);
      }
    }
  }

  &btn {
    $btn: &;

    display: flex;
    align-items: center;
    gap: 1.4rem;
    font-size: 1.2rem;
    line-height: 150%;
    text-decoration: none;
    
    padding-block: 0.4rem;
    padding-inline: 1.8rem 0.4rem;
    // border-radius: 5.2rem;
    color: #fff;
   

    background: linear-gradient(81.75deg, #5C8DFF 23.42%, #EA4F88 146.88%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6.2rem;

    @media (min-width: $breakpoint-md) {
      padding-inline: 2.4rem 0.4rem;
    }

    &:hover {
      #{$btn} {
        &__ {
          &icon svg {
            transform: translateX(3px);
          }
        }
      }
    }


    &__ {
      &icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2.8rem;
        height: 2.8rem;

        @media (min-width: $breakpoint-md) {
          width: 3.6rem;
          height: 3.6rem;
        }

        > svg {
          transform-origin: center center;
          transition: transform ease 0.24s;
        }
      }
    }

    &--secondary {
      
      color: #000;
      background: rgba(255, 255, 255, 0.15);
      background:#ffffff;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      
      border: 1px solid rgba(255, 255, 255, 0.3);
      // box-shadow: 
      //   0 8px 32px rgba(0, 0, 0, 0.1),
      //   inset 0 1px 0 rgba(255, 255, 255, 0.5),
      //   inset 0 -1px 0 rgba(255, 255, 255, 0.1),
      //   inset 0 0 20px 10px rgba(255, 255, 255, 1);
      box-shadow: none;
      position: relative;
      overflow: hidden;
    

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.8),
        transparent
      );
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.8),
        transparent,
        rgba(255, 255, 255, 0.3)
      );
    }

  
      #{$btn} {
        &__icon {
          background: linear-gradient(81.75deg, #5C8DFF 23.42%, #EA4F88 146.88%);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 50%;

          svg {
            transition: transform ease 0.26s;
            transform: rotate(-45deg);
          }
        }
      }
      
      &:hover {
        #{$btn} {
          &__icon svg {
            transform: rotate(0deg)
          }
        }
      }
    }
  }
  // Button: End

  &show-mobile {
    display: block !important
  }
  &hide-desktop {
    display: none !important;
  }

  &flex {
    --cs-flex-gap: 2rem;

    display: flex;
    gap: var(--cs-flex-gap);

    &-- {
      &col {
        flex-direction: column;
      }
      &gap-0 {
        --cs-flex-gap: 0;
      }
      &items-center {
        align-items: center;
      }
      &content-center {
        justify-content: center;
      }
      &space-between {
        justify-content: space-between;
      }
    }
  }

  &grid {
    --cs-grid-cols: 1;
    --cs-grid-gap: 3.2rem;

    display: grid;
    gap: var(--cs-grid-gap);
    grid-template-columns: repeat(var(--cs-grid-cols), (minmax(0, 1fr)));
    grid-auto-flow: row;
    align-items: center;

    &__item {
      position: relative;
    }

    @media (min-width: $breakpoint-md) {
    }
    @media (min-width: $breakpoint-lg) {
      --cs-grid-cols: 12;
      --cs-grid-gap: 0;
    }
  }
  // Grid: End

  &concentric {
    --cs-concentric-size: 121rem;
    // position: relative;
    // width: var(--cs-concentric-size);
    // height: var(--cs-concentric-size);
    margin-inline: auto;

    .scene {
      position:absolute;
      inset: 0;
      top:0;
      width:var(--cs-concentric-size);
      // height:var(--cs-concentric-size);
      margin:auto;
      svg {
        position:absolute;
        inset:0;
      }

      .tag {
        position:absolute;
        padding:6px 14px;
        border-radius:20px;
        background:#080c10;
        border:1px solid #c8f542;
        color:#c8f542;
        font-size:12px;
        transform: translate(-50%, -50%);
        will-change: transform;
      }
    }


    &-vibes {
      position: absolute;
      inset: 0;
      display: block;
      width: 75dvw;
      max-width: 120rem;
      margin: auto;
      height: auto;
      z-index: -1;
    }
    &-container {
    }
    &-circle {
      fill: none;
      opacity: 0;
      transform-origin: 50% 50%;

      &s {
        display: block;
        width: 75dvw;
        max-width: 120rem;
        margin: auto;
        height: auto;
      }
    }
    &-text {
      &s {
        position: relative;
        inset: 0;
        margin: auto;
        width: var(--cs-concentric-size);
        height: var(--cs-concentric-size);

        .orbit-ring {
          --cs-ctext-bg: rgba(0, 214, 242, 0.8);
          position:absolute;
          top:50%;
          left:50%;
          width:0;
          height:0;
          transform:translate(-50%, -50%);
          
          &-- {
            &1 { 
          }
          &2 { 
            --cs-ctext-bg: #FF8F33C7;
          }
          &3 { 
            --cs-ctext-bg: #00F2A1B5;
          }
        }
        .tag {
          position:absolute;
          top:0;
          left:0;
          will-change:transform;
          }
        }
        .tag-inner {
        
          cursor: default;
          user-select: none;

          position: absolute;
          transform-origin: center center;
          padding: 0.8rem 1.6rem;
          background: var(--cs-ctext-bg);
          border-radius: 5rem;
          font-size: 1.4rem;
          line-height: 132%;
        }
            svg {
          position:absolute;
          inset:0;
        }
      }
      & {
        --cs-ctext-bg: rgba(0, 214, 242, 0.8);

        position: absolute;
        top: 0;
        left: 0;
        transform-origin: center center;
        padding: 0.8rem 1.6rem;
        background: var(--cs-ctext-bg);
        border-radius: 5rem;
        font-size: 1.4rem;
        line-height: 132%;
        transform: translate(-50%, -50%);
        will-change: transform;

        &--t {
          &1 {
            
          }
          &2 {
            
            --cs-ctext-bg: #FF8F33C7;
          }

          &3 {
            
            --cs-ctext-bg: #00F2A1B5;
          }
        }
      }
    }

    // .scene {
    //   position: relative;
    //   width: var(--cs-concentric-size);
    //   height: var(--cs-concentric-size);
    // }
  }
  // Concentric Circles Texts: End

  &orbit {
    &s {
      display: none;
      position: absolute;
      margin-inline: auto;
      --cs-orbit-size: 88rem;
      --cs-orbit-rings: 3;

      width: var(--cs-orbit-size);
      height: var(--cs-orbit-size);
    }

    & {
      --cs-orbit-radius: 1;
      position: absolute;
      inset: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: calc(var(--cs-orbit-size) * (var(--cs-orbit-radius) / var(--cs-orbit-rings)));
      height: calc(var(--cs-orbit-size) * (var(--cs-orbit-radius) / var(--cs-orbit-rings)));
      border: 1px solid black;
    }
    &-- {
      &1 { 
        --cs-orbit-radius: 1.24;
      }
      &2 { 
        --cs-orbit-radius: 2.2;
      }
      &3 { 
        --cs-orbit-radius: 3;
      }
    }

    &__pill {
      --cs-ctext-bg: rgba(0, 214, 242, 0.8);

      position: absolute;
      transform-origin: center center;
      padding: 0.8rem 1.6rem;
      background: var(--cs-ctext-bg);
      border-radius: 5rem;
      font-size: 1.4rem;
      line-height: 132%;

      &-- {
        &1 {
          top: 21.2%;
          left: -12%;
        }
        &2 {
          top: 55%;
          left: -14%;
          --cs-ctext-bg: #FF8F33C7;
        }

        &3 {
          top: 32%;
          right: -6%;
          --cs-ctext-bg: #00F2A1B5;
        }
      }
    }
  }

  &ccircle {
    &s {
      position: relative;
      height: 100vh;
    }
    & {
      --cs-ccircle-size: 3rem;

      position: absolute;
      inset: 0;
      margin: auto;
      width: var(--cs-ccircle-size);
      height: var(--cs-ccircle-size);
      border: 1px solid var(--cs-color-green);
      border-radius: 50%;

      &-- {
        &1 {
          --cs-ccircle-size: 120rem;
        }

        &2 {
          --cs-ccircle-size: 90rem;
        }
        &3 {
          --cs-ccircle-size: 52.8rem;
        }

        &4 {
          --cs-ccircle-size: 13.3rem;
        }
      }
    }

  }
  // Concentric Circles: End

  &bcircle {
    &s {
      --cs-bcircles-width: 100%;
      --cs-bcircles-height: 100%;
      --cs-bcircle-size: 135em;

      @media (min-width: $breakpoint-md) {
        --cs-bcircle-size: 135rem;
      }

      position: absolute;
      top: 0;
      left: 0;
      width: var(--cs-bcircles-width);
      height: var(--cs-bcircles-height); 
    }

    & {
      display: block;
      position: absolute;

      width: var(--cs-bcircle-size);
      height: var(--cs-bcircle-size);
      border-radius: 50%;
      background: radial-gradient(50% 50% at 50% 50%, rgba(189, 255, 163, 0.75) 0%, rgba(97, 255, 218, 0) 100%);
      // filter: blur(3rem);
      // -webkit-filter: blur(3rem);
    }
    &-- {
      &1 {
        --cs-bcircle-size: 63.6rem;

        background: radial-gradient(50% 50% at 50% 50%, #FFA3A3 0%, rgba(194, 200, 255, 0) 100%);
      }
      &2 {
        --cs-bcircle-size: 19.4rem;

        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 156, 245, 0.87) 0%, rgba(194, 200, 255, 0) 100%);
      }
      &3 {
        --cs-bcircle-size: 57.4rem;

        background: radial-gradient(50% 50% at 50% 50%, #00FBFF 0%, rgba(255, 198, 99, 0) 100%);

      }
      &4 {
        --cs-bcircle-size: 16.6rem;

        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 81, 182, 0.87) 0%, rgba(255, 194, 195, 0) 100%);
      }
      &5 {
        --cs-bcircle-size: 25.6rem;

        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 237, 156, 0.6351) 0%, rgba(255, 247, 88, 0) 100%);
      }
      &6 {
        --cs-bcircle-size: 100rem;

        background: radial-gradient(50% 50% at 50% 50%, #00FF99 0%, rgba(255, 255, 255, 0) 100%);
      }
    }
  }
  // Blur Circles: End
  &partners-members {
    margin-top: 16rem;
    justify-content: space-between;
    width: 96%;
    margin-left: auto;
    // margin-inline: auto;
    align-items: center;
    @media (min-width: $breakpoint-md) {
      gap: 4rem;
    }
    @media (min-width: $breakpoint-lg) {
      align-items: flex-start;
      flex-direction: row;
    }
    @media (min-width: $breakpoint-xl) {
      width: 118rem;
      margin-inline: auto;
    }
  }

  &member {
    &s {
      display: flex;
      gap: 1.8rem;
      flex-direction: column;
      flex-shrink: 0;
    }
    & {
      width: 12rem;
    }
  }
  //  Members: ENd
  &companies {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    

    @media (min-width: $breakpoint-md) {
      max-width: 45rem;
      overflow: hidden;
    }
    @media (min-width: $breakpoint-lg) {
      max-width: 68rem;
    }
    
    &__ {
      &text {
        flex-shrink: 0;
      }
      &list {
        position: relative;
        white-space: nowrap;
        will-change: transform;        
      }
    }

    #{$app}company {
      --cs-company-width: 14rem;
      
      max-width: var(--cs-company-width);
      display: inline-block; // v.important
      // padding:30px; // padding here breaks flow
      margin-right: 3.2rem;

      &__img {
        max-width: 100%;
        height: 3.8rem;
        object-fit: contain;
      }

      // &--1 {
      //   max-width
      // }
    }
  }
  // Companies: End

  &circles-collab {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 2rem;
    #{$app} {
      &brand {
        &--circles {
          width: 25.4rem;

          @media (min-width: $breakpoint-md) {
            width: 17.4rem;
          }
          @media (min-width: $breakpoint-lg) {
            width: 25.4rem;
          }
        }
        &--openai {
          width: 28.4rem;
          
          @media (min-width: $breakpoint-md) {
            width: 17.4rem;
          }
          @media (min-width: $breakpoint-lg) {
            width: 28.4rem;
          }
        }
      }
    }
  }
  // Circles COllab: End

  &article {
    &s {
      position: relative;
      display: flex;
      gap: 2rem;
      justify-content: center;
      flex-direction: column;
      z-index: 5;

      @media (min-width: $breakpoint-md) {
        flex-direction: row;
        gap: 0;
      }
    }

    & {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      width: min(100%, 30rem);
      
      // height: max(100%, 40rem);
      overflow: hidden;

      @media (min-width: $breakpoint-md) {
      }
      @media (min-width: $breakpoint-lg) {
        padding: 1.8rem;
        padding-bottom: 3.6rem;
      }
      @media (min-width: $breakpoint-xl) {
        padding: 3rem;
        padding-bottom: 4.8rem;
      }

      &:nth-child(odd) {
        border: 1px solid rgba(255, 255, 255, 0.7);
      }

      &:first-child {
        border-right-width: 0;
        border-top-left-radius: 3.2rem;
        border-bottom-left-radius: 3.2rem;
      }
      &:last-child {
        border-left-width: 0;
        border-top-right-radius: 3.2rem;
        border-bottom-right-radius: 3.2rem;
      }
      

      &:nth-child(even) {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url('../images/grad-bg.png') 0 0 no-repeat;
          background-size: cover;
        } 
      }

      &__ {
        &image {
          width: 7rem;
          height: 7rem;
          display: flex;
          align-items: center;
          margin-bottom: 3rem;
        }
        &title {
          position: relative;
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 150%;
          letter-spacing: -0.011em;
          // color: #FFFFFF;
          margin-bottom: 1.6rem;
          z-index: 1;

          /* End-to-End AI Integration, Not Bolted on */

        }
        &description {
          position: relative;
          font-weight: 500;
          line-height: 156%;
          font-size: 1.6rem;
          /* or 25px */
          letter-spacing: -0.01em;
          // color: #FFFFFF;
          opacity: 0.7;
          z-index: 1;

        }
      }
    }

  }
  // Articles: End

  &foundation {

    position: relative;
    z-index: 10;
    padding: 3.6rem;
    // background: rgba(255, 255, 255, 0.2);
    // border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3.2rem;
    width: 100%;


    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    // color: white;
    font-size: 20px;
    border: 1px solid transparent;
    
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 3.2rem;
      padding: 1px;
      background: linear-gradient(135deg, var(--cs-color-blue), var(--cs-color-green));
      -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      margin: auto;
      border-radius: 3.2rem;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      z-index: -1;
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
    }

    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   height: 1px;
    //   background: linear-gradient(
    //     90deg,
    //     transparent,
    //     rgba(255, 255, 255, 0.8),
    //     transparent
    //   );
    // }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 1px;
    //   height: 100%;
    //   background: linear-gradient(
    //     180deg,
    //     rgba(255, 255, 255, 0.8),
    //     transparent,
    //     rgba(255, 255, 255, 0.3)
    //   );
    // }
    @media (min-width: $breakpoint-md) {
      padding: 4rem;
    }
    @media (min-width: $breakpoint-lg) {
      padding: 6rem;
    }

    &__ {
      &border {
        --cs-foundation-border-rect-width: 100%;
        --cs-foundation-border-rect-height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        > rect {
          width: var(--cs-foundation-border-rect-width);
          height: var(--cs-foundation-border-rect-height);
        }
      }


      &list {
        --cs-foundation-list-grid-cols: 1;

        position: relative;
        display: grid;
        justify-content: center;
        gap: 4.4rem;
        z-index: 5;
        grid-template-columns: repeat(var(--cs-foundation-list-grid-cols), minmax(0, 1fr));

        @media (min-width: $breakpoint-md) {
          gap: 3.8rem; 
          --cs-foundation-list-grid-cols: 4;
        }
        @media (min-width: $breakpoint-lg) {
        }
        @media (min-width: $breakpoint-xl) {
          --cs-foundation-list-grid-cols: 4;
        }
      }
      &item {
        display: flex;
        flex-direction: column;
        flex-basis: max(100%, 36rem);
      }
      &icon {
        --cs-foundation-icon-size: 4.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--cs-foundation-icon-size);
        height: var(--cs-foundation-icon-size);
        margin-bottom: 3.2rem;

        @media (min-width: $breakpoint-md) {
          --cs-foundation-icon-size: 5.6rem;
        }
        @media (min-width: $breakpoint-lg) {
          --cs-foundation-icon-size: 6.4rem;
        }
      }

      &title {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 150%;
        /* or 27px */
        letter-spacing: -0.011em;
        margin-bottom: 1.6rem;
      }

      &desc {
        font-weight: 500;
        line-height: 156%;
        /* or 25px */
        letter-spacing: -0.01em;
        font-size: 1.6rem;
        opacity: 0.7;
      }
    }
  }
  // Foundation: ENd

  &join-step {
    &s { 
      --cs-join-step-gap: 4.8rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--cs-join-step-gap);
      margin-inline: auto;
      justify-content: center;

      @media screen and (min-width: $breakpoint-md) {
        flex-direction: row;
        align-items: stretch;
      }

      @media screen and (min-width: $breakpoint-lg) {
        --cs-join-step-gap: 8.6rem;
      }

      @media screen and (min-width: $breakpoint-xl) {
        --cs-join-step-gap: 13rem;
      }
    }

    & {
      position: relative;
      width: 25rem;
      // min-height: 26rem;
      text-align: center;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        // width: 90%;
        width: 40%;
        margin-inline: auto;
        height: .2rem;
        background: var(--cs-color-blue);
        border-radius: .6rem;
      }

      &__ {
        &count {
          margin-bottom: 2.6rem;
          font-size: 2.4rem;
          font-weight: 800;
          color: var(--cs-color-green);
          width: 5rem;
          height: 5rem;
          background: var(--cs-color-blue);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-inline: auto;
        }

        &title {
          font-weight: 500;
          font-size: 2rem;
          line-height: 150%;
          margin-bottom: 1.4rem;
        }

        &description {
          font-weight: 400;
          line-height: 150%;
          margin-bottom: 2.6rem;
          /* or 24px */
        }
      }
    }
  }
  // Join Steps: End
  &slider {
    position: relative;
    &__ {
      &swiper {
        // padding-bottom: 6rem;
        --swiper-pagination-color: #41C44E;
      }
      &bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      &item {
        display: flex;
        justify-content: center;
        align-items: stretch;
        height: auto;
      }
      &media {
        display: flex;
        justify-content: center;
        width: 84%;
        height: 88%;
        margin-inline: auto;
        > img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {

      top: auto;
      bottom: -0.65rem;
      color: var(--cs-color-black);
      z-index: 15;

      .swiper-navigation-icon {
        font-size: 2rem;
        width: 30%;
        height: 30%;
        transition: transform ease 0.24s;
      }

    }
    .swiper-button-prev {
      &:hover .swiper-navigation-icon {
        transform: rotate(180deg) scale(0.9);
      }
    }
    .swiper-button-next {
      &:hover .swiper-navigation-icon {
        transform: scale(0.9);
      }
    }
  }
  // Slider: ENd

  &section {
    $section: &;
    --cs-section-container-width: 90%;

    position: relative;
    z-index: 10;
    padding-block: 5rem;

    @media (min-width: $breakpoint-md) {
      --cs-section-container-width: 88%;
      padding-block: 8rem;
    }
    @media (min-width: $breakpoint-lg) {
      --cs-section-container-width: 98rem;
    }
    @media (min-width: $breakpoint-xl) {
      --cs-section-container-width: 98rem;
    }
    @media (min-width: $breakpoint-xxl) {
      --cs-section-container-width: 118rem;
    }

    &__ {
      &backdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      &container {
        position: relative;
        width: 100%;
        max-width: var(--cs-section-container-width);
        margin-inline: auto;
      }

      &backdrop + &container {
        z-index: 10;
      }
    }

    // Section: Modifiers 
    &--h- {
      &hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0;

        @media (max-width: $breakpoint-md - 1) {
          padding-top: 16rem;

        }
        @media (min-width: $breakpoint-md) {
          --cs-section-container-width: 94%;
          min-height: 83dvh;
        }
        @media (min-width: $breakpoint-lg) {
          --cs-section-container-width: 98rem;
          min-height: 100dvh;
        }

        #{$section}__{
          &backdrop {
            width: var(--cs-section-container-width);
            margin-inline: auto;
            right: 0;
          }
        }

        #{$app} {
          &meet-circles {
            display: flex;
            align-items: center;
            gap: 4rem;
          }

          &titlesvg {
            margin-bottom: 0.6rem;
            max-width: 60vw;
            margin-inline: auto;
            display: flex;
            justify-content: center;

            svg {
              display: block;
              width: 100%;
              height: auto;
            }
          }

          &brand {
            --cs-brand-width: 70vw;

            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2.6rem;
            
            &__svg {
              display: block;
              width: var(--cs-brand-width);
              height: auto;
            }

            @media (min-width: $breakpoint-md) {
              margin-bottom: 4.6rem;
              --cs-brand-width: 50vw;
            }
            @media (min-width: $breakpoint-lg) {
              --cs-brand-width: 40vw;
            }
            @media (min-width: $breakpoint-xl) {
              --cs-brand-width: 30vw;
            }
          }

          &liner {
            display: none;
            position: absolute;
            top: 56.5%;
            left: -16rem;

            --cs-liner-width: 60rem;

            @media (min-width: $breakpoint-md) {
              --cs-liner-width: 23.1em;
              display: block;
              top: 62.5%;
              left: -3.4%;
            }
            @media (min-width: $breakpoint-lg) {
              --cs-liner-width: 23.1em;
              top: 62.5%;
              left: 2%;
            }
            @media (min-width: $breakpoint-xl) {
              --cs-liner-width: 43rem;
              top: 65%;
              left: -5%;
            }
          }

          &title {
            $title: &;
            --cs-title-hlight-f-size: 5rem;
            --cs-title-hlight-f-weight: 700;
            --cs-title-hlight-line-height: 120%;


            --cs-title-f-size: 3.6rem;
            --cs-title-f-weight: 600;
            --cs-title-line-height: 100%;

            text-align: center;

            @media (min-width: $breakpoint-md) {
              --cs-title-hlight-f-size: 7rem;

              --cs-title-f-size: 5.6rem;
            }
            @media (min-width: $breakpoint-lg) {
              --cs-title-hlight-f-size: 9rem;

              --cs-title-f-size: 7.6rem;
            }
            @media (min-width: $breakpoint-xl) {
            }

            #{$app}title {
              &__highlight {
                background-image: linear-gradient(90deg, #07E8A6 23.9%, #4392D3 76.1%);
                background-image: -webkit-linear-gradient(90deg, #07E8A6 23.9%, #4392D3 76.1%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                // color: transparent;
                margin-bottom: 1.2rem;
                animation: gradientMove 4s ease infinite;

                @keyframes gradientMove {
                  0% { background-position: 0% 50%; }
                  100% { background-position: 100% 50%; }
                }
              }
            }
          }
        }
      }
      // Hero: End
      &sdmo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0;
        
        min-height: 63dvh;
        margin-bottom: 8rem;

        @media (orientation: landscape) {
          height: 98dvh;
        }
        @media (min-width: $breakpoint-md) {
          margin-bottom: 8rem;
        }
        
        #{$app} {

          &title {
            --cs-title-f-size: 2.4rem;
            --cs-title-line-height: 132%;
            --cs-title-f-weight: 600;

            --cs-title-sub-f-weight: 300;
            --cs-title-sub-f-size: var(--cs-title-f-size);

            margin-inline: auto;
            text-align: center;
            text-transform: uppercase;

            @media (min-width: $breakpoint-md) {
              --cs-title-f-size: 2.8rem;
            }
            @media (min-width: $breakpoint-xl) {
              --cs-title-f-size: 3.2rem;

            }

            &__sub {
              display: block;
            }
          }
        }


        #{$section} {
          &__ {
            &container {
              position: absolute;
              inset-block: 0;
              margin-block: auto;
              display: flex;
              align-items: center;
              width: 100%;
              justify-content: center;
            }
          }
        }

        
      }
      // SDMO: End
      &carex, &zerofyx {
        #{$section} {
          &__container {
            margin-top: 6.8rem;
          }
        }
        #{$app} {
          &grid {
            --cs-grid-cols: 1;
            --cs-grid-gap: 3.2rem;

            @media (min-width: $breakpoint-md) {
              --cs-grid-gap: 0;
            }
            @media (min-width: $breakpoint-lg) {
              --cs-grid-cols: 12;
              &__ {
                &item:first-child {
                  grid-column: 1 / 6;
                }
                &item:last-child {
                  grid-column: 6 / 12;
                }
              }
            }
          }
        }
      }
      &carex, &nova, &zerofyx {
        // min-height: 80rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @media (min-width: $breakpoint-md) {
          padding-block: 12rem 19rem;
        }

        #{$section} {
          &__backdrop {
            max-width: var(--cs-section-container-width);
            margin-inline: auto;
            right: 0;
          }
        }
        #{$app} {
          &hlt-title {
            position: absolute;
            top: -15.7rem;

            @media (min-width: $breakpoint-md) {
              top: -22rem;
              align-items: flex-end;
            }
          }
          &liner {
            display: none;
            z-index: -1;
            @media (min-width: $breakpoint-md) {
              display: block;
            }
          }
          
          
          &title {
            @media (min-width: $breakpoint-md) {
              --cs-title-f-size: 3.2rem;
              --cs-title-hlight-f-size: 5rem;
              width: 80%
            }
            @media (min-width: $breakpoint-lg) {
              width: 100%
            }
            @media (min-width: $breakpoint-xl) {
              --cs-foundation-list-grid-cols: 4;
            }
          }
          &description {
            @media (min-width: $breakpoint-md) {
              width: 70%;
            }
            @media (min-width: $breakpoint-lg) {
              width: 100%
            }
            @media (min-width: $breakpoint-xl) {
              --cs-foundation-list-grid-cols: 4;
            }
          }
        }
      }
      &carex {
        @media (min-width: $breakpoint-md) {
          padding-block: 5rem 19rem;
        }
        #{$app} {
          &bcircle {
            & {
              top: -25%;
              right: -55%;
              background: radial-gradient(50% 50% at 50% 50%, rgba(189, 255, 163, 0.75) 0%, rgba(97, 255, 218, 0.2) 48.8%, rgba(97, 255, 218, 0) 100%);
            }
          }

          &liner {
            position: absolute;

            @media (min-width: $breakpoint-md) {
              --cs-liner-width: 22em;
              top: -16.4rem;
              left: 19.8em;
            }
            @media (min-width: $breakpoint-lg) {
              left: 16em;
            }
            @media (min-width: $breakpoint-xl) {
              top: -16.3rem;
              left: 20.8em; 
            }
          }
          &contentbox {
            // padding-left: 6.5rem;

            @media (min-width: $breakpoint-md) {
              padding-left: 6.5rem;
            }
            @media (min-width: $breakpoint-lg) {
              padding-left: 0;
              // width: 85%
            }
          }

          &grid {
            &__ {
              &item:first-child {
                order: 1
              }
            }
            @media (min-width: $breakpoint-md) {
              &__ {
                &item:first-child {
                  width: 75%;
                  margin: 0 auto;
                }
              }
            }
            @media (min-width: $breakpoint-lg) {
              &__ {
                &item:first-child {
                  order: 0;
                  width: 100%;
                }
                &item:last-child {
                }
              }
            }
          }
        }
      }
      // CareX: End
      &nova {
        @media (min-width: $breakpoint-lg) {
          padding-bottom: 24rem;
        }
         #{$section} {
          &__ {
            &container {
              margin-top: 8.8rem;
            }
          }
        }
        #{$app} {
          &bcircle {
            & {
              // --cs-bcircle-size: 110vw;
              top: -22%;
              left: -60%;
              background: radial-gradient(50% 50% at 50% 50%, rgba(218, 189, 255, 0.75) 0%, rgba(0, 242, 255, 0.2) 48.8%, rgba(0, 242, 255, 0) 100%);
            }
          }
          &contentbox {
            // padding-left: 6.5rem;
            
            @media (min-width: $breakpoint-md) {
              padding-left: 16.5rem;
            }
            @media (min-width: $breakpoint-lg) {
              padding-left: 0;
              // width: 85%;
            }
          }
          &liner {
            position: absolute;
            top: 5.3rem;
            left: -10rem;

            @media (min-width: $breakpoint-md) {
              --cs-liner-width: min(19em, 87rem);
              top: -15rem;
              left: -1.3em;
            }
            @media (min-width: $breakpoint-lg) {
              left: -10.5em;
            }
          }
          

          &grid {
            @media (min-width: $breakpoint-md) {
              &__ {
                &item:first-child {
                }
                &item:last-child {
                  width: 75%;
                  margin: auto;
                }
              }
            }
            @media (min-width: $breakpoint-lg) {
              &__ {
                &item:first-child {
                  grid-column: 2 / 8;
                }
                &item:last-child {
                  width: 100%;
                  grid-column: 8 / 13;
                }
              }
            }
          }
        }
      }
      //  NOva: End
      &zerofyx {
        @media (min-width: $breakpoint-lg) {
          padding-bottom: 16rem
        }
        #{$app} {
          &bcircle {
            & {
              top: 0;
              right: -80%;
              // filter: blur(1rem); /* keep 0 for crisp neon edge */
              // -webkit-filter: blur(1rem); /* keep 0 for crisp neon edge */
              background: radial-gradient(50% 50% at 50% 50%, rgba(101, 255, 242, 0.75) 0%, rgba(255, 0, 196, 0.1) 50%, rgba(255, 0, 196, 0) 100%);
            }
          }
          &liner {
            position: absolute;
            top: -10rem;
            left: 10.2em;

            @media (min-width: $breakpoint-md) {
              --cs-liner-width: 23em;
              
              top: -16.5rem;
              left: 20.2em;
            }
            @media (min-width: $breakpoint-lg) {
              left: 16.5em;
            }
          }
          &contentbox {
            @media (min-width: $breakpoint-md) {
              padding-left:5rem;
            }
            @media (min-width: $breakpoint-lg) {
              padding-left:0;
            }
          }
          
          &grid {

            &__ {
              &item:first-child {
                order: 1;
              }
            }
            @media (min-width: $breakpoint-md) {
              &__ {
                &item:first-child {
                  width: 75%;
                  margin: auto;
                  
                }
                &item:last-child {
                  grid-column: 6 / 13;
                }
              }
            }
            @media (min-width: $breakpoint-lg) {
              &__ {
                &item:first-child {
                  order: 0;
                  width: 100%;
                }
              }
            }
          }
        }
      }
      // zerofyx: End
      &collab {
        
        @media (min-width: $breakpoint-md) {
          --cs-section-container-width: 94%;
        }
        @media (min-width: $breakpoint-lg) {
          padding-top: 0;
        }
        @media (min-width: $breakpoint-xl) {
          padding-top: 0;
        }

        #{$app} {
          &title {
            --cs-title-f-size: 2.2rem;
            --cs-title-f-weight: 600;
            --cs-title-line-height: 124%;
          }
          &description {
            // font-size: 1.8rem;
            margin-inline: auto;
            margin-bottom: 4.8rem;

            @media (min-width: $breakpoint-md) {
              width: 70%;
            }
            @media (min-width: $breakpoint-xl) {
              width: 25%;
            }
          }
        }
      }
      // Circles Collab: End
      &trust {
        padding-top: 7.8rem;

        @media (min-width: $breakpoint-md) {
          --cs-section-container-width: 94%; 
        }
        @media (min-width: $breakpoint-xl) {
          --cs-section-container-width: 118rem;
        }

        #{$app} {
          &bcircle {
            & {
              // --cs-bcircle-size: 110vw;
              top: -50%;
              left: -40%;
              background: radial-gradient(50% 50% at 50% 50%, rgba(101, 255, 242, 0.5) 0%, rgba(43, 0, 255, 0.2) 45%, rgba(43, 0, 255, 0) 100%);
            }
          }

          &titlesvg {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 6.4rem;
            &__mobile {
              display: block;
               @media (min-width: $breakpoint-lg) {
                display: none;
              }
            }
            &__desktop {
              display: none;

              @media (min-width: $breakpoint-lg) {
                display: block;
              }
            }

          }
          
          &title {
            --cs-title-hlight-f-size: 2.8rem;
            --cs-title-hlight-f-weight: 600;
            --cs-title-hlight-line-height: 124%;

            position: relative;
            z-index: 1;
            margin-bottom: 6.8rem;

            @media (min-width: $breakpoint-md) {
              --cs-title-hlight-f-size: 3.6rem;
            }
            @media (min-width: $breakpoint-lg) {
              --cs-title-hlight-f-size: 3.6rem;
            }
          }
        }
      }
      // Trust: End
      &join {
        #{$section} {
          &__backdrop {
            z-index: -2;
          }
        }
        #{$app} {
          &liner {
            display: none;
            --cs-liner-width: 3.4em;
            position: absolute;
            top: -10%;
            left: 25%;
            z-index: -10;

            @media (min-width: $breakpoint-md) {
              display: block;
              --cs-liner-width: 5.4em;
              top: -19rem;
              left: 35%;
            }
          }
          &brand {
            display: block;
            width: 16rem;
            margin-inline: auto;
            margin-bottom: 4rem;

            @media screen and (min-width: $breakpoint-lg) {
              width: 20rem;
            }
            @media screen and (min-width: $breakpoint-xl) {
              width: 27rem;
            }
            
          }
          &title {
            margin-bottom: 10rem;
          }
        }
      }
    }
  }
  // Section: End

  &footer {
    --cs-footer-container-width: 90%; 
    position: relative;

    @media (min-width: $breakpoint-xl) {
      --cs-footer-container-width: 94%; 
    }

    &__ {
      &container {
        width: var(--cs-footer-container-width);
        margin-inline: auto;  
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 3.4rem 5.6rem;

        @media (min-width: $breakpoint-md) {
          padding-block: 8.4rem 5.6rem;
        }

      }
      &copyright {
        font-size: 1.2rem;
        text-align: center;
      }
    }
    #{$app}stripes {
      --cs-stripes-height: 7rem;
    }
  }
  // Footer: End

  
}