*, *:before, *:after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cs-base-f-size: 1.6rem;
  --cs-base-f-family: "Plus Jakarta Sans", sans-serif;
  --cs-color-green: #00F2A1;
  --cs-color-black: #000;
  --cs-color-blue: #194AB8;
  --cs-color-orange: #FFA860;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: var(--cs-base-f-family);
  font-size: var(--cs-base-f-size);
  color: var(--cs-color-black);
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.t-center {
  text-align: center !important;
}

.cs-page {
  position: relative;
  overflow: hidden;
}
.cs-stripes {
  --cs-stripes-height: 2.4rem;
  width: 100%;
  height: var(--cs-stripes-height);
  border-width: 1px 0;
  border-style: solid;
  border-color: #dfdfdf;
  background-image: linear-gradient(90deg, #dfdfdf 4.55%, transparent 4.55%, transparent 50%, #dfdfdf 50%, #dfdfdf 54.55%, transparent 54.55%, transparent 100%);
  background-size: 22px 22px;
  background-position: center;
}
.cs-fixed-message {
  position: fixed;
  bottom: 1.5rem;
  width: 100%;
  left: 0;
  font-weight: 500;
  font-size: 1rem;
  /* identical to box height, or 16px */
  text-align: center;
  color: #A0A0A0;
  z-index: 10;
}
.cs-header {
  --cs-header-container-width: 94%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 500;
}
.cs-header .cs-stripes {
  border-width: 0;
}
.cs-header__container {
  width: var(--cs-header-container-width);
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.8rem;
}
@media (min-width: 768px) {
  .cs-header__container {
    justify-content: flex-end;
  }
}
.cs-header__nav {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.cs-header__link {
  text-decoration: none;
  text-transform: uppercase;
}
.cs-header__brand {
  position: fixed;
  top: 4rem;
  right: 4%;
  max-width: 12.4rem;
}
.cs-main {
  position: relative;
  min-height: 400vh;
}
.cs-main__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.cs-main__backdrop:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  z-index: 5;
}
.cs-gradmotion {
  position: absolute;
  top: 65vh;
  left: 0;
  width: 100%;
  height: 100%;
}
.cs-gradmotion__svg {
  display: block;
  margin: 0 auto;
}
.cs-gradmotion__circle {
  --cs-gradcircle-top: 0;
  --cs-gradcircle-left: 0;
  --cs-gradcircle-size: 59.8rem;
  --cs-gradcircle-grad-bg: radial-gradient(50% 50% at 50% 50%, #BEFFC1 0%, rgba(57, 229, 255, 0) 87.02%, rgba(255, 255, 255, 0.5) 89.9%);
  position: absolute;
  width: var(--cs-gradcircle-size);
  height: var(--cs-gradcircle-size);
  top: var(--cs-gradcircle-top);
  left: --cs-gradcircle-left;
  background: var(--cs-gradcircle-grad-bg);
  border-radius: 50%;
}
.cs-title {
  --cs-title-f-size: 3.6rem;
  --cs-title-f-weight: 400;
  --cs-title-line-height: 150%;
  --cs-title-hlight-f-size: 6.4rem;
  --cs-title-hlight-f-weight: 400;
  --cs-title-hlight-line-height: 124%;
  --cs-title-sub-f-size: 2.4rem;
  --cs-title-sub-f-weight: 400;
  --cs-title-sub-line-height: 132%;
  font-size: var(--cs-title-f-size);
  font-weight: var(--cs-title-f-weight);
  line-height: var(--cs-title-line-height);
  margin-bottom: 1.6rem;
}
.cs-title__highlight {
  display: block;
  font-size: var(--cs-title-hlight-f-size);
  font-weight: var(--cs-title-hlight-f-weight);
  line-height: var(--cs-title-hlight-line-height);
  background-color: var(--cs-color-green);
  /* fallback */
  background-image: -webkit-linear-gradient(272.41deg, var(--cs-color-blue) -19.32%, var(--cs-color-green) 123.66%);
  background-image: linear-gradient(272.41deg, var(--cs-color-blue) -19.32%, var(--cs-color-green) 123.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-bottom: 0.8rem;
}
.cs-title__sub {
  display: block;
  font-size: var(--cs-title-sub-f-size);
  font-weight: var(--cs-title-sub-f-weight);
  line-height: var(--cs-title-sub-line-height);
}
.cs-sub-title {
  --cs-sub-title-f-size: 2.4rem;
  --cs-sub-title-f-weight: 800;
  --cs-sub-title-line-height: 150%;
  font-size: var(--cs-sub-title-f-size);
  font-weight: var(--cs-sub-title-f-weight);
  line-height: var(--cs-sub-title-line-height);
  color: var(--cs-color-blue);
  text-align: center;
  text-transform: uppercase;
}
.cs-description {
  --cs-desc-f-size: 1.8rem;
  --cs-desc-line-height: 150%;
  font-size: var(--cs-desc-f-size);
  line-height: var(--cs-desc-line-height);
  margin-bottom: 3.6rem;
}
.cs-hlt-title {
  --cs-hlt-title-align: flex-start;
  --cs-hlt-title-sub-line-bg: var(--cs-color-green);
  --cs-hlt-title-sub-line-order: 1;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: var(--cs-hlt-title-align);
  margin-bottom: 14.6rem;
}
.cs-hlt-title__text {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--cs-color-blue);
  margin-bottom: 1.4rem;
}
.cs-hlt-title__sub {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.cs-hlt-title__sub-text {
  line-height: 20px;
  color: var(--cs-color-blue);
}
.cs-hlt-title__sub-line {
  width: 5rem;
  height: 1rem;
  order: var(--cs-hlt-title-sub-line-order);
  background: var(--cs-hlt-title-sub-line-bg);
  border-radius: 8px;
}
.cs-hlt-title--align-right {
  --cs-hlt-title-sub-line-order: -1;
}
.cs-line {
  width: 9.6rem;
  height: 1px;
  margin-block: 3rem 2rem;
  background: #595959;
}
.cs-dotline {
  display: block;
  position: relative;
  width: 1rem;
  height: 1rem;
  background: var(--cs-color-blue);
  border-radius: 50%;
  margin-block: 3rem 2rem;
}
.cs-dotline::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0.5rem;
  bottom: 0;
  margin-block: auto;
  width: 4.4rem;
  height: 1px;
  background: #dfdfdf;
}
.cs-btn {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 1.2rem;
  line-height: 150%;
  text-decoration: none;
  padding-block: 0.4rem;
  padding-inline: 2.4rem 0.4rem;
  color: #fff;
  background: linear-gradient(81.75deg, #5C8DFF 23.42%, #EA4F88 146.88%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6.2rem;
}
.cs-btn:hover .cs-btn__icon svg {
  transform: translateX(3px);
}
.cs-btn__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
}
.cs-btn__icon > svg {
  transform-origin: center center;
  transition: transform ease 0.24s;
}
.cs-btn--secondary {
  background: rgba(255, 255, 255, 0.1);
  color: #000;
}
.cs-btn--secondary .cs-btn__icon {
  background: linear-gradient(81.75deg, #5C8DFF 23.42%, #EA4F88 146.88%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.cs-btn--secondary .cs-btn__icon svg {
  transition: transform ease 0.26s;
  transform: rotate(-45deg);
}
.cs-btn--secondary:hover .cs-btn__icon svg {
  transform: rotate(0deg);
}
.cs-flex {
  --cs-flex-gap: 2rem;
  display: flex;
  gap: var(--cs-flex-gap);
}
.cs-flex--col {
  flex-direction: column;
}
.cs-flex--items-center {
  align-items: center;
}
.cs-flex--content-center {
  justify-content: center;
}
.cs-flex--space-between {
  justify-content: space-between;
}
.cs-grid {
  --cs-grid-cols: 1;
  --cs-grid-gap: 3.2rem;
  display: grid;
  gap: var(--cs-grid-gap);
  grid-template-columns: repeat(var(--cs-grid-cols), minmax(0, 1fr));
  grid-auto-flow: row;
  align-items: center;
}
.cs-grid__item {
  position: relative;
}
@media (min-width: 992px) {
  .cs-grid {
    --cs-grid-cols: 12;
    --cs-grid-gap: 0;
  }
}
.cs-concentric-vibes {
  position: absolute;
  inset: 0;
  display: block;
  width: 75dvw;
  max-width: 120rem;
  margin: auto;
}
.cs-concentric-circle {
  fill: none;
  opacity: 0;
  transform-origin: 50% 50%;
}
.cs-concentric-circles {
  display: block;
  width: 75dvw;
  max-width: 120rem;
  margin: auto;
}
.cs-concentric-texts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.cs-concentric-text {
  --cs-ctext-bg: rgba(0, 214, 242, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center center;
  padding: 0.8rem 1.6rem;
  background: var(--cs-ctext-bg);
  border-radius: 5rem;
  font-size: 1.4rem;
  line-height: 132%;
}
.cs-concentric-text--2 {
  --cs-ctext-bg: #FF8F33C7;
}
.cs-concentric-text--3 {
  --cs-ctext-bg: #00F2A1B5;
}
.cs-ccircles {
  position: relative;
  height: 100vh;
}
.cs-ccircle {
  --cs-ccircle-size: 3rem;
  position: absolute;
  inset: 0;
  margin: auto;
  width: var(--cs-ccircle-size);
  height: var(--cs-ccircle-size);
  border: 1px solid var(--cs-color-green);
  border-radius: 50%;
}
.cs-ccircle--1 {
  --cs-ccircle-size: 120rem;
}
.cs-ccircle--2 {
  --cs-ccircle-size: 90rem;
}
.cs-ccircle--3 {
  --cs-ccircle-size: 52.8rem;
}
.cs-ccircle--4 {
  --cs-ccircle-size: 13.3rem;
}
.cs-bcircles {
  --cs-bcircles-width: 100%;
  --cs-bcircles-height: 100%;
  --cs-bcircle-size: 135rem;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--cs-bcircles-width);
  height: var(--cs-bcircles-height);
}
.cs-bcircle {
  display: block;
  position: absolute;
  width: var(--cs-bcircle-size);
  height: var(--cs-bcircle-size);
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(189, 255, 163, 0.75) 0%, rgba(97, 255, 218, 0) 100%);
  filter: blur(3rem);
  -webkit-filter: blur(3rem);
}
.cs-bcircle--1 {
  --cs-bcircle-size: 63.6rem;
  background: radial-gradient(50% 50% at 50% 50%, #FFA3A3 0%, rgba(194, 200, 255, 0) 100%);
}
.cs-bcircle--2 {
  --cs-bcircle-size: 19.4rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 156, 245, 0.87) 0%, rgba(194, 200, 255, 0) 100%);
}
.cs-bcircle--3 {
  --cs-bcircle-size: 57.4rem;
  background: radial-gradient(50% 50% at 50% 50%, #00FBFF 0%, rgba(255, 198, 99, 0) 100%);
}
.cs-bcircle--4 {
  --cs-bcircle-size: 16.6rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 81, 182, 0.87) 0%, rgba(255, 194, 195, 0) 100%);
}
.cs-bcircle--5 {
  --cs-bcircle-size: 25.6rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 237, 156, 0.6351) 0%, rgba(255, 247, 88, 0) 100%);
}
.cs-bcircle--6 {
  --cs-bcircle-size: 100rem;
  background: radial-gradient(50% 50% at 50% 50%, #00FF99 0%, rgba(255, 255, 255, 0) 100%);
}
.cs-partners-members {
  margin-top: 16rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .cs-partners-members {
    gap: 4rem;
  }
}
@media (min-width: 992px) {
  .cs-partners-members {
    align-items: flex-start;
    flex-direction: row;
  }
}
.cs-members {
  display: flex;
  gap: 1.8rem;
  flex-direction: column;
  flex-shrink: 0;
}
.cs-member {
  width: 12rem;
}
.cs-companies {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
}
@media (min-width: 768px) {
  .cs-companies {
    max-width: 70rem;
    overflow: hidden;
  }
}
@media (min-width: 992px) {
  .cs-companies {
    align-items: flex-start;
  }
}
.cs-companies__text {
  flex-shrink: 0;
}
.cs-companies__list {
  position: relative;
  white-space: nowrap;
  will-change: transform;
}
.cs-companies .cs-company {
  --cs-company-width: 14rem;
  max-width: var(--cs-company-width);
  display: inline-block;
  margin-right: 3.2rem;
}
.cs-companies .cs-company__img {
  max-width: 100%;
  height: 2.4rem;
  object-fit: contain;
}
.cs-circles-collab {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 7rem;
}
.cs-circles-collab .cs-brand--circles {
  width: 25.4rem;
}
@media (min-width: 768px) {
  .cs-circles-collab .cs-brand--circles {
    width: 17.4rem;
  }
}
@media (min-width: 992px) {
  .cs-circles-collab .cs-brand--circles {
    width: 25.4rem;
  }
}
.cs-circles-collab .cs-brand--openai {
  width: 28.4rem;
}
@media (min-width: 768px) {
  .cs-circles-collab .cs-brand--openai {
    width: 17.4rem;
  }
}
@media (min-width: 992px) {
  .cs-circles-collab .cs-brand--openai {
    width: 28.4rem;
  }
}
.cs-articles {
  position: relative;
  --cs-articles-grid-cols: 1;
  display: grid;
  gap: 3rem;
  justify-content: center;
  grid-template-columns: repeat(var(--cs-articles-grid-cols), minmax(0, 1fr));
  z-index: 5;
}
@media (min-width: 768px) {
  .cs-articles {
    gap: 0rem;
    --cs-articles-grid-cols: 4;
  }
}
@media (min-width: 1200px) {
  .cs-articles {
    --cs-articles-grid-cols: 4;
  }
}
.cs-article {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: min(100%, 30rem);
  overflow: hidden;
}
@media (min-width: 992px) {
  .cs-article {
    padding: 1.8rem;
    padding-bottom: 3.6rem;
  }
}
@media (min-width: 1200px) {
  .cs-article {
    padding: 3rem;
    padding-bottom: 4.8rem;
  }
}
.cs-article:nth-child(even):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/grad-bg.png") 0 0 no-repeat;
  background-size: cover;
}
.cs-article__image {
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.cs-article__title {
  position: relative;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 150%;
  letter-spacing: -0.011em;
  margin-bottom: 1.6rem;
  z-index: 1;
}
.cs-article__description {
  position: relative;
  font-weight: 500;
  line-height: 156%;
  /* or 25px */
  letter-spacing: -0.01em;
  opacity: 0.7;
  z-index: 1;
}
.cs-foundation {
  position: relative;
  padding: 3.6rem;
  border-radius: 3.2rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.12);
  /* glass effect */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  font-size: 20px;
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
}
.cs-foundation:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(135deg, var(--cs-color-blue), var(--cs-color-green));
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
@media (min-width: 768px) {
  .cs-foundation {
    padding: 4rem;
  }
}
@media (min-width: 992px) {
  .cs-foundation {
    padding: 6rem;
  }
}
.cs-foundation__border {
  --cs-foundation-border-rect-width: 100%;
  --cs-foundation-border-rect-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cs-foundation__border > rect {
  width: var(--cs-foundation-border-rect-width);
  height: var(--cs-foundation-border-rect-height);
}
.cs-foundation__list {
  --cs-foundation-list-grid-cols: 1;
  position: relative;
  display: grid;
  justify-content: center;
  gap: 4.4rem;
  z-index: 5;
  grid-template-columns: repeat(var(--cs-foundation-list-grid-cols), minmax(0, 1fr));
}
@media (min-width: 768px) {
  .cs-foundation__list {
    gap: 3.8rem;
    --cs-foundation-list-grid-cols: 2;
  }
}
@media (min-width: 1200px) {
  .cs-foundation__list {
    --cs-foundation-list-grid-cols: 4;
  }
}
.cs-foundation__item {
  display: flex;
  flex-direction: column;
  flex-basis: max(100%, 36rem);
}
.cs-foundation__icon {
  --cs-foundation-icon-size: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--cs-foundation-icon-size);
  height: var(--cs-foundation-icon-size);
  margin-bottom: 3.2rem;
}
@media (min-width: 768px) {
  .cs-foundation__icon {
    --cs-foundation-icon-size: 5.6rem;
  }
}
@media (min-width: 992px) {
  .cs-foundation__icon {
    --cs-foundation-icon-size: 6.4rem;
  }
}
.cs-foundation__title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 150%;
  /* or 27px */
  letter-spacing: -0.011em;
  margin-bottom: 1.6rem;
}
.cs-foundation__desc {
  font-weight: 500;
  line-height: 156%;
  /* or 25px */
  letter-spacing: -0.01em;
  opacity: 0.7;
}
.cs-join-steps {
  --cs-join-step-gap: 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--cs-join-step-gap);
  margin-inline: auto;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .cs-join-steps {
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .cs-join-steps {
    --cs-join-step-gap: 8.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .cs-join-steps {
    --cs-join-step-gap: 13rem;
  }
}
.cs-join-step {
  position: relative;
  width: 25rem;
  text-align: center;
}
.cs-join-step:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40%;
  margin-inline: auto;
  height: 0.2rem;
  background: var(--cs-color-blue);
  border-radius: 0.6rem;
}
.cs-join-step__count {
  margin-bottom: 2.6rem;
  font-size: 2.4rem;
  font-weight: 800;
  color: var(--cs-color-green);
  width: 5rem;
  height: 5rem;
  background: var(--cs-color-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}
.cs-join-step__title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;
  margin-bottom: 1.4rem;
}
.cs-join-step__description {
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 2.6rem;
  /* or 24px */
}
.cs-slider {
  position: relative;
}
.cs-slider__swiper {
  --swiper-pagination-color: #41C44E;
}
.cs-slider__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.cs-slider__item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: auto;
}
.cs-slider__media {
  display: flex;
  justify-content: center;
  width: 84%;
  height: 88%;
  margin-inline: auto;
}
.cs-slider__media > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cs-slider .swiper-button-next,
.cs-slider .swiper-button-prev {
  top: auto;
  bottom: -0.65rem;
  color: var(--cs-color-black);
  z-index: 15;
}
.cs-slider .swiper-button-next .swiper-navigation-icon,
.cs-slider .swiper-button-prev .swiper-navigation-icon {
  font-size: 2rem;
  width: 50%;
  height: 50%;
  transition: transform ease 0.24s;
}
.cs-slider .swiper-button-prev {
  left: 30%;
}
.cs-slider .swiper-button-prev:hover .swiper-navigation-icon {
  transform: rotate(180deg) scale(0.9);
}
.cs-slider .swiper-button-next {
  right: 30%;
}
.cs-slider .swiper-button-next:hover .swiper-navigation-icon {
  transform: scale(0.9);
}
.cs-section {
  --cs-section-container-width: 88%;
  position: relative;
  z-index: 10;
  padding-block: 8rem;
}
@media (min-width: 768px) {
  .cs-section {
    --cs-section-container-width: 88%;
  }
}
@media (min-width: 992px) {
  .cs-section {
    --cs-section-container-width: 98rem;
  }
}
@media (min-width: 1200px) {
  .cs-section {
    --cs-section-container-width: 98rem;
  }
}
@media (min-width: 1400px) {
  .cs-section {
    --cs-section-container-width: 118rem;
  }
}
.cs-section__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.cs-section__container {
  position: relative;
  width: var(--cs-section-container-width);
  margin-inline: auto;
}
.cs-section__backdrop + .cs-section__container {
  z-index: 10;
}
.cs-section--h-hero {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cs-section--h-hero .cs-section__backdrop {
  width: var(--cs-section-container-width);
  margin-inline: auto;
  right: 0;
}
.cs-section--h-hero .cs-meet-circles {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.cs-section--h-hero .cs-titlesvg {
  margin-bottom: 2.4rem;
  width: 60vw;
  margin-inline: auto;
}
.cs-section--h-hero .cs-titlesvg svg {
  display: block;
  width: 100%;
}
.cs-section--h-hero .cs-brand {
  --cs-brand-width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.2rem;
}
.cs-section--h-hero .cs-brand__svg {
  display: block;
  width: var(--cs-brand-width);
  height: auto;
}
@media (min-width: 768px) {
  .cs-section--h-hero .cs-brand {
    --cs-brand-width: 50vw;
  }
}
@media (min-width: 992px) {
  .cs-section--h-hero .cs-brand {
    --cs-brand-width: 40vw;
  }
}
@media (min-width: 1200px) {
  .cs-section--h-hero .cs-brand {
    --cs-brand-width: 30vw;
  }
}
.cs-section--h-hero .cs-liner {
  position: absolute;
  top: 56.5%;
  left: -16rem;
}
.cs-section--h-hero .cs-title {
  --cs-title-hlight-f-size: 5rem;
  --cs-title-hlight-f-weight: 700;
  --cs-title-hlight-line-height: 120%;
  --cs-title-f-size: 3.6rem;
  --cs-title-f-weight: 600;
  --cs-title-line-height: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .cs-section--h-hero .cs-title {
    --cs-title-hlight-f-size: 7rem;
    --cs-title-f-size: 5.6rem;
  }
}
@media (min-width: 992px) {
  .cs-section--h-hero .cs-title {
    --cs-title-hlight-f-size: 9rem;
    --cs-title-f-size: 7.6rem;
  }
}
.cs-section--h-hero .cs-title .cs-title__highlight {
  background-image: linear-gradient(90deg, #07E8A6 23.9%, #4392D3 76.1%);
  background-image: -webkit-linear-gradient(90deg, #07E8A6 23.9%, #4392D3 76.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 1.2rem;
  animation: gradientMove 4s ease infinite;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.cs-section--h-sdmo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cs-section--h-sdmo .cs-title {
  --cs-title-f-size: 2.4rem;
  --cs-title-line-height: 132%;
  --cs-title-f-weight: 600;
  --cs-title-sub-f-weight: 300;
  --cs-title-sub-f-size: var(--cs-title-f-size);
  margin-inline: auto;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .cs-section--h-sdmo .cs-title {
    --cs-title-f-size: 2.8rem;
  }
}
@media (min-width: 1200px) {
  .cs-section--h-sdmo .cs-title {
    --cs-title-f-size: 3.2rem;
  }
}
.cs-section--h-sdmo .cs-title__sub {
  display: block;
}
.cs-section--h-sdmo .cs-section__container {
  position: absolute;
  inset-block: 0;
  margin-block: auto;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.cs-section--h-carex .cs-section__container, .cs-section--h-zerofyx .cs-section__container {
  margin-top: 6.8rem;
}
.cs-section--h-carex .cs-grid, .cs-section--h-zerofyx .cs-grid {
  --cs-grid-cols: 1;
  --cs-grid-gap: 3.2rem;
}
@media (min-width: 768px) {
  .cs-section--h-carex .cs-grid, .cs-section--h-zerofyx .cs-grid {
    --cs-grid-gap: 0;
  }
}
@media (min-width: 992px) {
  .cs-section--h-carex .cs-grid, .cs-section--h-zerofyx .cs-grid {
    --cs-grid-cols: 12;
  }
  .cs-section--h-carex .cs-grid__item:first-child, .cs-section--h-zerofyx .cs-grid__item:first-child {
    grid-column: 1/6;
  }
  .cs-section--h-carex .cs-grid__item:last-child, .cs-section--h-zerofyx .cs-grid__item:last-child {
    grid-column: 6/12;
  }
}
.cs-section--h-carex .cs-section__backdrop, .cs-section--h-nova .cs-section__backdrop, .cs-section--h-zerofyx .cs-section__backdrop {
  max-width: var(--cs-section-container-width);
  margin-inline: auto;
  right: 0;
}
@media (min-width: 768px) {
  .cs-section--h-carex .cs-title, .cs-section--h-nova .cs-title, .cs-section--h-zerofyx .cs-title {
    --cs-title-f-size: 3.2rem;
    --cs-title-hlight-f-size: 5rem;
    width: 80%;
  }
}
@media (min-width: 992px) {
  .cs-section--h-carex .cs-title, .cs-section--h-nova .cs-title, .cs-section--h-zerofyx .cs-title {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .cs-section--h-carex .cs-title, .cs-section--h-nova .cs-title, .cs-section--h-zerofyx .cs-title {
    --cs-foundation-list-grid-cols: 4;
  }
}
@media (min-width: 768px) {
  .cs-section--h-carex .cs-description, .cs-section--h-nova .cs-description, .cs-section--h-zerofyx .cs-description {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .cs-section--h-carex .cs-description, .cs-section--h-nova .cs-description, .cs-section--h-zerofyx .cs-description {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .cs-section--h-carex .cs-description, .cs-section--h-nova .cs-description, .cs-section--h-zerofyx .cs-description {
    --cs-foundation-list-grid-cols: 4;
  }
}
.cs-section--h-carex {
  min-height: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cs-section--h-carex .cs-bcircle {
  top: -25%;
  right: -55%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(189, 255, 163, 0.75) 0%, rgba(97, 255, 218, 0.2) 48.8%, rgba(97, 255, 218, 0) 100%);
}
.cs-section--h-carex .cs-liner {
  position: absolute;
  top: 6.5rem;
  right: -11.8%;
}
@media (min-width: 768px) {
  .cs-section--h-carex .cs-liner {
    top: 2.4rem;
    right: -15rem;
  }
}
@media (min-width: 1200px) {
  .cs-section--h-carex .cs-liner {
    top: 8rem;
    right: -2.4rem;
  }
}
.cs-section--h-carex .cs-hlt-title {
  position: absolute;
  top: -22rem;
}
@media (min-width: 1200px) {
  .cs-section--h-carex .cs-hlt-title {
    top: -20.4rem;
  }
}
.cs-section--h-carex .cs-grid__item:first-child {
  order: 1;
}
@media (min-width: 768px) {
  .cs-section--h-carex .cs-grid__item:first-child {
    width: 75%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .cs-section--h-carex .cs-grid__item:first-child {
    order: 0;
    width: 100%;
  }
}
.cs-section--h-nova {
  min-height: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cs-section--h-nova .cs-section__container {
  margin-top: 8.8rem;
}
.cs-section--h-nova .cs-bcircle {
  top: -22%;
  left: -60%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(218, 189, 255, 0.75) 0%, rgba(0, 242, 255, 0.2) 48.8%, rgba(0, 242, 255, 0) 100%);
}
.cs-section--h-nova .cs-liner {
  position: absolute;
  top: 5.3rem;
  left: -10rem;
}
@media (min-width: 768px) {
  .cs-section--h-nova .cs-liner {
    top: 4.3rem;
    left: -12rem;
  }
}
@media (min-width: 1200px) {
  .cs-section--h-nova .cs-liner {
    top: 12.3rem;
    left: -12rem;
  }
}
.cs-section--h-nova .cs-hlt-title {
  position: absolute;
  top: -22rem;
}
@media (min-width: 768px) {
  .cs-section--h-nova .cs-grid__item:last-child {
    width: 75%;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .cs-section--h-nova .cs-grid__item:first-child {
    grid-column: 2/8;
  }
  .cs-section--h-nova .cs-grid__item:last-child {
    width: 100%;
    grid-column: 8/13;
  }
}
.cs-section--h-zerofyx {
  min-height: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cs-section--h-zerofyx .cs-bcircle {
  top: 0;
  right: -80%;
  filter: blur(1rem);
  /* keep 0 for crisp neon edge */
  -webkit-filter: blur(1rem);
  /* keep 0 for crisp neon edge */
  background: radial-gradient(50% 50% at 50% 50%, rgba(101, 255, 242, 0.75) 0%, rgba(255, 0, 196, 0.1) 50%, rgba(255, 0, 196, 0) 100%);
}
.cs-section--h-zerofyx .cs-liner {
  position: absolute;
  right: -4.6rem;
}
@media (min-width: 768px) {
  .cs-section--h-zerofyx .cs-liner {
    top: 8.7rem;
    right: -4.6rem;
  }
}
@media (min-width: 1200px) {
  .cs-section--h-zerofyx .cs-liner {
    top: 5.3rem;
    right: 6.4rem;
  }
}
.cs-section--h-zerofyx .cs-hlt-title {
  position: absolute;
  top: -22rem;
}
@media (min-width: 1200px) {
  .cs-section--h-zerofyx .cs-hlt-title {
    top: -31.5rem;
  }
}
.cs-section--h-zerofyx .cs-grid__item:first-child {
  order: 1;
}
@media (min-width: 768px) {
  .cs-section--h-zerofyx .cs-grid__item:first-child {
    width: 75%;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .cs-section--h-zerofyx .cs-grid__item:first-child {
    order: 0;
    width: 100%;
  }
}
.cs-section--h-collab .cs-description {
  margin-inline: auto;
  margin-bottom: 4.8rem;
}
@media (min-width: 768px) {
  .cs-section--h-collab .cs-description {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .cs-section--h-collab .cs-description {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .cs-section--h-collab .cs-description {
    width: 25%;
  }
}
.cs-section--h-trust {
  padding-top: 7.8rem;
}
.cs-section--h-trust .cs-bcircle {
  top: -50%;
  left: -40%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(101, 255, 242, 0.5) 0%, rgba(43, 0, 255, 0.2) 45%, rgba(43, 0, 255, 0) 100%);
}
.cs-section--h-trust .cs-titlesvg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.cs-section--h-trust .cs-title {
  --cs-title-hlight-f-size: 2.8rem;
  --cs-title-hlight-f-weight: 600;
  --cs-title-hlight-line-height: 124%;
  position: relative;
  z-index: 1;
  margin-bottom: 6.8rem;
}
@media (min-width: 768px) {
  .cs-section--h-trust .cs-title {
    --cs-title-hlight-f-size: 3.6rem;
  }
}
@media (min-width: 992px) {
  .cs-section--h-trust .cs-title {
    --cs-title-hlight-f-size: 3.6rem;
  }
}
.cs-section--h-join .cs-brand {
  display: block;
  width: 16rem;
  margin-inline: auto;
  margin-bottom: 4rem;
}
@media screen and (min-width: 992px) {
  .cs-section--h-join .cs-brand {
    width: 20rem;
  }
}
@media screen and (min-width: 1200px) {
  .cs-section--h-join .cs-brand {
    width: 27rem;
  }
}
.cs-section--h-join .cs-title {
  margin-bottom: 10rem;
}
.cs-section--h-join .cs-liner {
  position: absolute;
  top: -10%;
  left: 25%;
}
.cs-footer {
  --cs-footer-container-width: 90%;
  position: relative;
}
@media (min-width: 1200px) {
  .cs-footer {
    --cs-footer-container-width: 94%;
  }
}
.cs-footer__container {
  width: var(--cs-footer-container-width);
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 8.4rem 5.6rem;
}
.cs-footer__copyright {
  font-size: 1.2rem;
  text-align: center;
}
.cs-footer .cs-stripes {
  --cs-stripes-height: 7rem;
}